*.log

__pycache__/
*.egg-info/
*.whl

dist/
build/

venv/
.venv/
venv*/

.stignore
*.sync-conflict*

*.ini
!*_TEMPLATE.ini

results/
plots/
data/tceq_cache/
data/tceq_pm25/

.pytest_cache

.claude

.vscode
